@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}
* {
  box-sizing: border-box;
}
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}
* {
  box-sizing: border-box;
}

.shopping-cart {
  margin: auto;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border: solid 1px;
  border-radius: 6px;

  display: flex;
  flex-direction: column;

  .heading {
    padding: 1em 0;
    margin: 0px 30px;
    border-bottom: 1px solid #d0d0d0;
    font-size: 2em;
    float: left;
  }
  .continue {
    &:link,
    &:visited {
      text-decoration: none;
      letter-spacing: -0.015em;
      font-size: 0.75em;
      padding: 1em;
      color: #fff;
      background: #82ca9c;
      font-weight: bold;
      border-radius: 50px;
      float: right;
      text-align: right;
      @include transition(all, 0.25s, linear);
    }
    &:after {
      content: "\276f";
      padding: 0.5em;
      position: relative;
      right: 0;
      @include transition(all, 0.15s, linear);
    }
    &:hover,
    &:focus,
    &:active {
      background: #f69679;

      &:after {
        right: -10px;
      }
    }
  }

  .item {
    display: inline-block;
    .description {
      padding-left: 60px;
      padding-top: 5px;
    }
    .delete-btn {
      float: left;
      cursor: pointer;
      width: 30px;
    }
  }

  .item:nth-child(3) {
    border-top: 1px solid #e1e8ee;
    border-bottom: 1px solid #e1e8ee;
  }

  .quantity {
    float: right;
    padding-right: 10px;
    margin: 0;
  }

  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 35px;
    font-size: 16px;
    color: #43484d;
    font-weight: 300;
  }

  .sub-total {
    display: inline-block;
    padding: 0 200px;
  }

  button[class*="btn"] {
    width: 30px;
    height: 30px;
    background-color: #f1eadd;
    border: none;
    cursor: pointer;
  }

  button:focus,
  input:focus {
    outline: 0;
  }

  .total-price {
    align-self: flex-end;
    padding: 20px 30px;
    font-size: 18px;
    color: #43484d;
    font-weight: 600;
  }
}
