.adminToolbar {
  display: inline-block;
  width: 100%;
  background-color: #8b3b29;
  height: 7%;
  margin: 0 auto;
  padding: 0 10px;

  ul,
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;

    :link {
      color: white;
    }
  }
}
