.btn {
  display: block;
  width: 50%;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
  color: #f1eadd;
  background: #8b3b29;
  padding: 1rem 10px;
  margin: 0 auto;
  border: 0;
  outline: none;
  cursor: pointer;
}
