.container-product {
  width: 50%;
  height: 450px;
  float: left;
  display: block;
}

.container-product .product {
  padding: 30px 30px;
}

.container-product .product-card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container-product .product.img-container {
  box-sizing: border-box;
}

.container-product .product .product-info {
  background: #f1eadd;
}

.container-product .product .product-info .product-content {
  padding: 0.5em 0 0.5em 1em;
}
.container-product .product .product-info .product-content h1 {
  font-size: 1.1em;
}
.container-product .product .product-info .product-content p {
  color: #636363;
  font-size: 0.9em;
  width: 100%;
}

.container-product .product .product-info .product-content .buttons {
  width: 350px;
  padding-top: 0.4em;
}
